@page "/account"

@inherits AuthorizedBase
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject TerritoryService TerritoryService

<Heading Size="HeadingSize.Is1">Mi cuenta</Heading>

@if (model == null)
{
    <Paragraph>Loading...</Paragraph>
    return;
}

<Row>
    <Column ColumnSize="ColumnSize.Is4">
        <ChangePassword />
    </Column>
    <Column ColumnSize="ColumnSize.Is8">
        <Validations @ref="validations" Mode="ValidationMode.Manual">
            <Row>
                <Column>
                    <Field>
                        <FieldLabel>Nombre:</FieldLabel>
                        <Validation Validator="Helper.IsTrimmedNotEmpty">
                            <TextEdit @ref="nameEdit" MaxLength="100" @bind-Text="model.Name" />
                        </Validation>
                    </Field>
                    <Field>
                        <FieldLabel>NIF:</FieldLabel>
                        <Validation UsePattern="true">
                            <TextEdit MaxLength="9" Pattern="^(|\w{9})$" @bind-Text="model.TaxId">
                                <Feedback>
                                    <ValidationError>Debe ser 9 letras/números o vacío</ValidationError>
                                </Feedback>
                            </TextEdit>
                        </Validation>
                    </Field>
                    <Field>
                        <FieldLabel>Teléfono:</FieldLabel>
                        <Validation UsePattern="true">
                            <TextEdit MaxLength="20" Pattern="^\+?(\d|\s)*$" @bind-Text="model.Phone">
                                <ValidationError>Debe ser números/espacios (se puede poner + al principio)</ValidationError>
                            </TextEdit>
                        </Validation>
                    </Field>
                    <Field>
                        <FieldLabel>Dirección:</FieldLabel>
                        <Validation Validator="Helper.IsAny">
                            <TextEdit MaxLength="100" @bind-Text="model.Address" />
                        </Validation>
                    </Field>
                </Column>
                <Column>
                    <Field>
                        <FieldLabel>Código postal:</FieldLabel>
                        <Validation UsePattern="true">
                            <TextEdit MaxLength="5" Pattern="^(|\d{5})$" @bind-Text="model.ZipCode">
                                <Feedback>
                                    <ValidationError>Debe ser 5 números o vacío</ValidationError>
                                </Feedback>
                            </TextEdit>
                        </Validation>
                    </Field>
                    <Field>
                        <FieldLabel>Municipio:</FieldLabel>
                        <Validation Validator="Helper.IsTrimmedNotEmpty">
                            <TextEdit MaxLength="100" @bind-Text="model.City" />
                        </Validation>
                    </Field>
                    <Field>
                        <FieldLabel>Provincia:</FieldLabel>
                        <SelectEdit @bind-SelectedValue="model.Province">
                            <TerritoryList Territories="TerritoryService.Provinces" IsNullable="true" />
                        </SelectEdit>
                    </Field>
                    <Field>
                        <FieldLabel>País:</FieldLabel>
                        <SelectEdit @bind-SelectedValue="model.Country">
                            <TerritoryList Territories="TerritoryService.Countries" />
                        </SelectEdit>
                    </Field>
                </Column>
            </Row>
            <Row>
                <Column>
                    <Field>
                        <FieldLabel>Notificaciones:</FieldLabel>
                        <CheckEdit @bind-Checked="model.NotifyForum">Respuestas en foro</CheckEdit>
                        <CheckEdit @bind-Checked="model.NotifyChat">Mensajes de chat no están recibidos</CheckEdit>
                    </Field>
                </Column>
            </Row>
            <Row>
                <Column>
                    <Field>
                        <CheckEdit @bind-Checked="model.InfoRequested">Estoy de acuerdo en recibir información de Naobiz vía email</CheckEdit>
                    </Field>
                    <Field>
                        <Button Color="Color.Primary" Clicked="SubmitChanges">Enviar</Button>
                    </Field>
                </Column>
            </Row>
        </Validations>
    </Column>
</Row>

@code {
    User currentUser;
    AccountModel model;
    Validations validations;
    TextEdit nameEdit;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        currentUser = await UserService.GetCurrentAsync(Service);
        if (currentUser == null)
        {
            return;
        }

        model = new AccountModel();
        model.CopyFrom(currentUser);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (nameEdit != null)
        {
            nameEdit.Focus();
            nameEdit = null;
        }
    }

    private async Task SubmitChanges()
    {
        if (!validations.ValidateAll())
        {
            return;
        }

        model.CopyTo(currentUser);
        await Service.SaveChangesAsync();

        NavigationManager.NavigateTo("");
    }
}
