@page "/recover-password"

@inherits OwningComponentBase<AppDbContext>
@inject EmailService EmailService

<Heading Size="HeadingSize.Is1">Recuperar contraseña</Heading>

<Row>
    <Column ColumnSize="ColumnSize.IsThird.IsThird.WithOffset">
        <Field>
            <FieldLabel>Email:</FieldLabel>
            <TextEdit @bind-Text="email" />
        </Field>
        <Field>
            <Button Color="Color.Primary" Clicked="SubmitChanges">Enviar</Button>
        </Field>
        <Alert Color="Color.Warning" Visible="alertMessage != null">@alertMessage</Alert>
    </Column>
</Row>

@code {
    string email;
    string alertMessage;

    private async Task SubmitChanges()
    {
        var user = await Service.Users.SingleOrDefaultAsync(user => user.Email == email);
        if (user != null)
        {
            user.ResetPassword();
            await Service.SaveChangesAsync();

            alertMessage = "Enviando correo...";
            StateHasChanged();

            if (await EmailService.SendAsync(user, "Restablecer contraseña de la cuenta", "reset-password.cshtml", new Models.Emails.ResetPasswordModel()))
            {
                alertMessage = $"El correo para restablecer contraseña se ha enviado a {user.Email}";
            }
            else
            {
                alertMessage = "Hay error al enviar el correo para restablecer contraseña";
            }
        }
        else
        {
            alertMessage = "Este email no existe";
        }
    }
}
