@page "/recover-password"

@inherits OwningComponentBase<AppDbContext>
@inject Settings Settings
@inject EmailService EmailService

<Heading Size="HeadingSize.Is1">Recover Password</Heading>

<Row>
    <Column ColumnSize="ColumnSize.IsThird.IsThird.WithOffset">
        <Field>
            <FieldLabel>Email:</FieldLabel>
            <TextEdit @bind-Text="email" />
        </Field>
        <Field>
            <Button Color="Color.Primary" Clicked="SubmitChanges">Submit</Button>
        </Field>
        <Alert Color="Color.Warning" IsShow="alertMessage != null">@alertMessage</Alert>
    </Column>
</Row>

@code {
    string email;
    string alertMessage;

    private async Task SubmitChanges()
    {
        var user = await Service.Users.SingleOrDefaultAsync(user => user.Email == email);
        if (user != null)
        {
            user.ResetPassword();
            await Service.SaveChangesAsync();

            alertMessage = "Sending email...";
            StateHasChanged();

            if (await EmailService.SendAsync(user, "Reset Account Password", "reset-password.cshtml", new Models.Emails.ResetPasswordModel(user, Settings.SiteUrl)))
            {
                alertMessage = $"A password-reset email has sent to {user.Email}.";
            }
            else
            {
                alertMessage = "An error occured when sending the password-reset email.";
            }
        }
        else
        {
            alertMessage = "Email does not exist.";
        }
    }
}
