<html>
<body>
    <p>Dear @Model.User.Name:</p>
    <p>You have successfully registered on our site. To start using it, please activate your account by clicking the following link: @Model.ActivationUrl.</p>
    <p>If you have no idea as to what this email is referring to, please ignore it!</p>
    <p>Best regards from Naobiz Team</p>
    <hr />
    <p>* Please don't reply to this email! All support related questions should be asked <a href="@Model.SiteUrl">here</a></p>
</body>
</html>
