<html>
<body>
    <p>Estimado/a @Model.User.Name:</p>
    <p>Se ha registrado de forma correcta en Naobiz. Para empezar a usarlo, por favor, active su cuenta con el siguiente enlace: <a href="@Model.ActivationUrl">@Model.ActivationUrl</a>.</p>
    <p>Reciba nuestra bienvenida desde el equipo Naobiz!</p>
    <hr />
    <p>* Por favor no responda a este email. Si necesita apoyo contacte con nosotros <a href="@Model.SiteUrl">aquí</a></p>
</body>
</html>
