<html>
<body>
    <p>Estimado/a @Model.User.Name:</p>
    <p>@Model.Message.Creator.Name ha enviado un mensaje:</p>
    <p>@Model.Message.Text</p>
    <p>Reciba nuestra bienvenida desde el equipo Naobiz!</p>
    <hr />
    <p>* Por favor no responda a este email. Si necesita apoyo contacte con nosotros <a href="@Model.SiteUrl">aquí</a></p>
</body>
</html>
