<html>
<body>
    <p>Dear @Model.User.Name:</p>
    <p>You have just requested on our site your password be reset. You can do it by following this link: <a href="@Model.ResetUrl">@Model.ResetUrl</a>.</p>
    <p>If you have no idea as to what this email is referring to, please ignore it!</p>
    <p>Best regards from Naobiz Team</p>
    <hr />
    <p>* Please don't reply to this email! All support related questions should be asked <a href="@Model.SiteUrl">here</a></p>
</body>
</html>
