<html>
<body>
    <p>Estimado/a @Model.User.Name:</p>
    <p>Ha solicitado un cambio de su contraseña. Puede hacerlo con el siguiente link: <a href="@Model.ResetUrl">@Model.ResetUrl</a>.</p>
    <p>Reciba nuestra bienvenida desde el equipo Naobiz!</p>
    <hr />
    <p>* Por favor no responda a este email. Si necesita apoyo contacte con nosotros <a href="@Model.SiteUrl">aquí</a></p>
</body>
</html>
