@inherits OwningComponentBase<AppDbContext>
@inject NavigationManager NavigationManager
@inject UserService UserService

<Validations @ref="validations" Mode="ValidationMode.Manual">
    <Field>
        <FieldLabel>Email:</FieldLabel>
        <TextEdit IsReadonly="true" Text="@currentUser?.Email" />
    </Field>
    <Field>
        <FieldLabel>Old Password:</FieldLabel>
        <Validation Validator="ValidationRule.IsNotEmpty">
            <TextEdit MaxLength="100" Role="TextRole.Password" @bind-Text="oldPassword" />
        </Validation>
    </Field>
    <Field>
        <FieldLabel>Password:</FieldLabel>
        <Validation Validator="Helper.IsPasswordValid">
            <TextEdit MaxLength="100" Role="TextRole.Password" @bind-Text="password" />
        </Validation>
        <FieldHelp>@Helper.PasswordRuleDescription</FieldHelp>
    </Field>
    <Field>
        <FieldLabel>Confirm Password:</FieldLabel>
        <Validation Validator="e => Helper.IsPasswordConfirmed(e, password)">
            <TextEdit MaxLength="100" Role="TextRole.Password">
                <Feedback>
                    <ValidationError>Confirmation and password do not match.</ValidationError>
                </Feedback>
            </TextEdit>
        </Validation>
    </Field>
    <Field>
        <Button Color="Color.Primary" Clicked="SubmitChanges">Change Password</Button>
    </Field>
    <Alert Color="Color.Warning" IsShow="alertMessage != null">@alertMessage</Alert>
</Validations>

@code {
    User currentUser;
    string password;
    string oldPassword;
    string alertMessage;
    Validations validations;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await UserService.GetCurrentAsync(Service);
    }

    private async Task SubmitChanges()
    {
        if (!validations.ValidateAll())
        {
            return;
        }

        if (currentUser.Password == oldPassword)
        {
            currentUser.Password = password;
            await Service.SaveChangesAsync();

            NavigationManager.NavigateTo("");
        }
        else
        {
            alertMessage = "Wrong old password.";
        }
    }
}
