<Modal @ref="modal">
    <ModalBackdrop />
    <ModalContent IsCentered="true" Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Mensaje</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Validations @ref="validations" Mode="ValidationMode.Manual">
                @if (IsTitleVisible)
                {
                    <Field>
                        <FieldLabel>Título:</FieldLabel>
                        <Validation Validator="Helper.IsTrimmedNotEmpty">
                            <TextEdit @ref="titleEdit" MaxLength="100" @bind-Text="title" />
                        </Validation>
                        <FieldHelp>100 símbolos máximo</FieldHelp>
                    </Field>
                }
                <Field>
                    <FieldLabel>Mensaje:</FieldLabel>
                    <Validation Validator="Helper.IsTrimmedNotEmpty">
                        <MemoEdit @ref="textEdit" MaxLength="800" Rows="10" @bind-Text="text" />
                    </Validation>
                    <FieldHelp>800 símbolos máximo</FieldHelp>
                </Field>
                <AttachmentView @ref="attachmentView" />
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="Submit">Enviar</Button>
            <Button Color="Color.Secondary" Clicked="Close">Cerrar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public bool IsTitleVisible { get; set; }

    [Parameter]
    public EventCallback Submitted { get; set; }

    string title;
    TextEdit titleEdit;
    string text;
    MemoEdit textEdit;
    Modal modal;
    Validations validations;
    AttachmentView attachmentView;

    public async Task Show()
    {
        title = null;
        text = null;

        validations.ClearAll();
        modal.Show();

        await Task.Delay(10);
        if (IsTitleVisible)
        {
            titleEdit.Focus();
        }
        else
        {
            textEdit.Focus();
        }
    }

    public void Get(ForumTopic topic)
    {
        topic.Title = title?.Trim();
        topic.Message.Text = text?.Trim();
    }

    public void Get(ForumMessage message)
    {
        message.Text = text?.Trim();
    }

    private async Task Submit()
    {
        if (!validations.ValidateAll() || !attachmentView.AllAttachmentsUploaded)
        {
            return;
        }

        modal.Hide();
        await Submitted.InvokeAsync(null);
    }

    private void Close()
    {
        modal.Hide();
    }

    public IEnumerable<ForumAttachment> CreateAttachments() => attachmentView.CreateAttachments<ForumAttachment>();
}
