@inherits OwningComponentBase<AppDbContext>
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject EmailService EmailService

@if (message == null)
{
    <Paragraph>Loading...</Paragraph>
    return;
}

<Row Class="message-creator">
    <Column>
        <UserInfo User="message.Creator" />
        <Timestamp DateTime="message.CreationDateTime" Float="Float.Right" />
    </Column>
</Row>
<Row Class="message-text" Margin="Margin.Is1.FromBottom">
    <Column ColumnSize="ColumnSize.Is11">
        <Alert Color="Color.Info" IsShow="true">
            <MultilineText Text="@message.Text" />
        </Alert>
    </Column>
    <Column ColumnSize="ColumnSize.Is1">
        @if (currentUser != null)
        {
            if (message.Creator == currentUser || currentUser.Admin)
            {
                <Button Color="Color.Danger" IsOutline="true" Size="ButtonSize.Small" Float="Float.Right" Margin="Margin.Is1.FromBottom" Clicked="() => deleteMessageConfirm.Show()">Eliminar</Button>
            }
            if (message.Creator != currentUser)
            {
                <Button Color="Color.Info" IsOutline="true" Size="ButtonSize.Small" Float="Float.Right" Clicked="CreateMessage">Responder</Button>
            }
        }
    </Column>
</Row>

@foreach (var attachment in attachments)
{
    <Tooltip Text="@Helper.SizeToString(attachment.Size)" IsFade="true">
        <Button Class="message-attachment" Color="Color.Light" Size="ButtonSize.Small" Clicked="() => DownloadAttachment(attachment)">@attachment.Name</Button>
    </Tooltip>
}

@if (childMessageCount > 0)
{
    <Row Padding="Margin.Is1.FromLeft">
        <Column>
            @if (childMessages == null)
            {
                <Button Color="Color.Link" Size="ButtonSize.Small" Margin="Margin.Is1.FromBottom" Clicked="UpdateChildMessages">Respuestas: @childMessageCount</Button>
            }
            else
            {
                foreach (var childMessage in childMessages)
                {
                    <ForumMessageView @key="childMessage.Id" MessageId="childMessage.Id" MessageDeleted="OnChildMessageDeleted" />
                }
            }
        </Column>
    </Row>
}

@if (currentUser != null)
{
    <ForumMessageEdit @ref="newMessageEdit" Submitted="SendMessage" />
    <Confirm @ref="deleteMessageConfirm" Text="Eliminar el mensaje?" Confirmed="DeleteMessage" />
}

@code {
    [Parameter]
    public int MessageId { get; set; }

    [Parameter]
    public EventCallback MessageDeleted { get; set; }

    User currentUser;
    ForumMessage message;
    List<ForumAttachment> attachments;
    int childMessageCount;
    List<ForumMessage> childMessages;
    ForumMessage newMessage;
    ForumMessageEdit newMessageEdit;
    Confirm deleteMessageConfirm;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await UserService.GetCurrentAsync(Service);

        message = await Service.ForumMessages.SingleAsync(message => message.Id == MessageId);
        attachments = await Service.ForumAttachments.Where(attachment => attachment.Message == message).OrderBy(attachment => attachment.Name).ToListAsync();
        childMessageCount = await Service.ForumMessages.CountAsync(childMessage => childMessage.ParentMessage == message);
    }

    private async Task UpdateChildMessages()
    {
        childMessages = await Service.ForumMessages.Where(childMessage => childMessage.ParentMessage == message).OrderBy(message => message.CreationDateTime).ToListAsync();
        childMessageCount = childMessages.Count;
    }

    private async Task CreateMessage()
    {
        newMessage = new ForumMessage();
        newMessage.ParentMessage = message;
        await newMessageEdit.Show();
    }

    private async Task SendMessage()
    {
        newMessage.Initialize(currentUser);
        newMessageEdit.Get(newMessage);
        Service.ForumMessages.Add(newMessage);

        foreach (var attachment in newMessageEdit.CreateAttachments())
        {
            attachment.Message = newMessage;
            Service.ForumAttachments.Add(attachment);
            Service.Blobs.Add(attachment.Content);
        }

        await Service.SaveChangesAsync();

        await UpdateChildMessages();

        if (currentUser.NotifyForum)
        {
            StateHasChanged();
            await EmailService.SendAsync(message.Creator, "Respuesta al mensaje del foro", "forum-message.cshtml", new Models.Emails.ForumMessageModel(newMessage));
        }
    }

    private void DownloadAttachment(ForumAttachment attachment)
    {
        var uri = "_forum-attachment";
        uri = QueryHelpers.AddQueryString(uri, "id", attachment.Id.ToString());
        NavigationManager.NavigateTo(uri, true);
    }

    private async Task DeleteMessage()
    {
        if (await Service.ForumMessages.AnyAsync(message2 => message2.ParentMessage == message))
        {
            return;
        }

        Service.ForumMessages.Remove(message);
        var topic = await Service.ForumTopics.SingleOrDefaultAsync(topic => topic.Message == message);
        if (topic != null)
        {
            Service.ForumTopics.Remove(topic);
        }

        await Service.SaveChangesAsync();

        await MessageDeleted.InvokeAsync(null);
    }

    private async Task OnChildMessageDeleted()
    {
        await UpdateChildMessages();
        StateHasChanged();
    }
}
