@foreach (var line in Text.Split('\n'))
{
    <Paragraph>
        @foreach (var text in line.Split())
        {
            if (Helper.IsUrl(text))
            {
                if (spanTexts.Count > 0)
                {
                    <span>@JoinSpanTexts()</span>
                }
                <a href="@text">@text</a>
            }
            else
            {
                spanTexts.Add(text);
            }
        }
        @if (spanTexts.Count > 0)
        {
            <span>@JoinSpanTexts()</span>
        }
    </Paragraph>
}

@code {
    [Parameter]
    public string Text { get; set; }

    List<string> spanTexts = new List<string>();

    private string JoinSpanTexts()
    {
        var spanText = string.Join(' ', spanTexts);
        spanTexts.Clear();
        return spanText;
    }
}
